.ui.dropdown .menu{
    /* position: relative; */
    top: 140% !important;
    width: 180px;
}

.ui.dropdown .menu::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.ui.dropdown>.text{
    color: #4183c4;
}
