body,
html {
    background: #F3EFE0 !important;
    color: #333;
    font-size: 16px !important;
}


.flex {
    display: flex;
}

.f-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    padding: 10px 0px;
}

header .logo span {
    color: #4CAF50;
}

header .nav a {
    padding: 10px 12px;
    position: relative;
}
header .nav a.active{
    color: red;
}


header .nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #4CAF50;
    transition: 0.4s;
}

header .nav a:hover::after {
    width: 100%;
}

.content {
    margin-top: 30px;
}

.content .title {
    background: #757575;
    color: white;
    padding: 8px 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content .title h1 {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
}

.list-accounts {
    max-width: 100%;
    background: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    position: relative;
}

.list-accounts .item {
    border: 1px solid #4CAF50;
    box-shadow: 0 0 4px -2px #333;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.4s;
    border-radius: 3px;
}


.container {
    max-width: 1200px;
    margin: auto;
}
.list-accounts .item:hover {
    box-shadow: 0 0 20px -2px #333;
}

.list-accounts .item .info-account {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-accounts .item .info-account .ttl {
    font-size: 1.6rem;
    grid-column: 1/3;
    margin-bottom: 0;
}

.list-accounts .item .info-account .date {
    color: #999;
    grid-column: 1/3;
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.list-accounts .item .info-account .acc-bot {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-accounts .item .info-account .acc-bot .buy {
    cursor: pointer;
    padding: 5px 8px;
    background: #4CAF50;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
    position: relative;
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}

.list-accounts .item .info-account .acc-bot .buy::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, 0.6);
    opacity: 0;
    border-radius: 50%;
}

.list-accounts .item .info-account .acc-bot .buy::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -80px;
    width: 100px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    opacity: 0;
    animation: floatRight 4s infinite;
}

.list-accounts .item .info-account .acc-bot .buy:hover::after {
    animation: float 0.4s forwards;
}

.list-accounts .item .info-account .acc-bot .stock {
    font-size: 0.8rem;
}

footer {
    margin-top: 50px;
}

footer strong {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    background: #333;
    color: white;
    padding: 20px;
}

@keyframes float {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        transform: scale(4);
    }
    80% {
        opacity: 1;
        transform: scale(8);
    }
    100% {
        opacity: 0.8;
        transform: scale(4);
    }
}

@keyframes floatRight {
    0% {
        -webkit-transform: scale(0) rotate(-45deg);
        transform: scale(0) rotate(-45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(-45deg);
        transform: scale(0) rotate(-45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(-45deg);
        transform: scale(4) rotate(-45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(30) rotate(-45deg);
        transform: scale(30) rotate(-45deg);
        opacity: 0;
    }
}

.css-1f1olx1{
    grid-column: 1/4;
    margin-left: 50%;
    transform: translateX(-50%);
}

h2{
    font-size: 1.3rem !important;
}

.price{
    color: #d35400;
    font-weight: bold;
}

.ui.inverted.list .item a:not(.ui).active{
    color: #21ba45 !important;
}
@media (min-width: 950px){
    .list-accounts img{
            height: 100px;
    }
}
@media (max-width: 700px){
    .content .title{
        flex-direction: column;
        align-items: unset;
    }
}



.sa-icon.sa-info{
    display: block !important;
}
.dsss{
    width: 250px;
}

.contact {
    color: #f1c40f;
    text-decoration: underline;
}

.item.updading{
    pointer-events: none;
    opacity: 0.4;
}